
 <SPAN style="background:ActiveBorder;">ActiveBorder</SPAN><BR>
 <SPAN style="background:ActiveCaption ;">ActiveCaption</SPAN><BR>
 <SPAN style="background:AppWorkspace;">AppWorkspace</SPAN><BR>
 <SPAN style="background:Background;">Background</SPAN><BR>
 <SPAN style="background:ButtonFace;">ButtonFace</SPAN><BR>
 <SPAN style="background: ButtonHighlight;">ButtonHighlight</SPAN><BR>
 <SPAN style="background:ButtonShadow;">ButtonShadow</SPAN><BR>
 <SPAN style="background:ButtonText;">ButtonText</SPAN><BR>
 <SPAN style="background:CaptionText;">CaptionText</SPAN><BR>
 <SPAN style="background:GrayText;">GrayText</SPAN><BR>
 <SPAN style="background:Highlight;">Highlight</SPAN><BR>
 <SPAN style="background:HighlightText;">HighlightText</SPAN><BR>
 <SPAN style="background:InactiveBorder;">InactiveBorder</SPAN><BR>
 <SPAN style="background:InactiveCaption;">InactiveCaption</SPAN><BR>
 <SPAN style="background:InactiveCaptionText;">InactiveCaptionText</SPAN><BR>
 <SPAN style="background:InfoBackground;">InfoBackground</SPAN><BR>
 <SPAN style="background:InfoText;">InfoText</SPAN><BR>
 <SPAN style="background:Menu ;">Menu</SPAN><BR>
 <SPAN style="background:MenuText;">MenuText</SPAN><BR>
 <SPAN style="background:Scrollbar;">Scrollbar</SPAN><BR>
 <SPAN style="background:ThreeDDarkShadow;">ThreeDDarkShadow</SPAN><BR>
 <SPAN style="background:ThreeDFace;">ThreeDFace</SPAN><BR>
 <SPAN style="background:ThreeDHighlight;">ThreeDHighlight</SPAN><BR>
 <SPAN style="background:ThreeDLightShadow;">ThreeDLightShadow</SPAN><BR>
 <SPAN style="background:ThreeDShadow ;">ThreeDShadow</SPAN><BR>
 <SPAN style="background:Window;">Window</SPAN><BR>
 <SPAN style="background:WindowFrame;">WindowFrame</SPAN><BR>
 <SPAN style="background:WindowText;">WindowText</SPAN><BR>
